<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Student Information</h3>
         Name<br>
         <input type = "text" name = "nm" /></br>
         
         Email<br>
         <input type = "text" name = "email" /></br>
         
         Mobile No<br>
         <input type = "text" name = "phone" /><br>
         
         Name of College<br>
         <input type = "text" name = "college" /><br>
         
         Department<br>
         <input type = "text" name = "dep" /><br>

         Fac-Ad<br>
         <input type = "text" name = "facad" /><br>

         H.O.D<br>
         <input type = "text" name = "hod" /><br>

         Dean<br>
         <input type = "text" name = "dean" /><br>

         Father's Name<br>
         <input type = "text" name = "father" /><br>
         
         Father's Mob<br>
         <input type = "text" name = "fathermob" /><br>

         Mother's Name<br>
         <input type = "text" name = "mother" /><br>


         Mother's Mob<br>
         <input type = "text" name = "mothermob" /><br>

         





         <input type = "submit" value = "submit" /><br>


      </form>
      
   </body>
</html>